Repository iris-hep/idap-200gbps-atlas, pull requests merged in 2024-05, with the labels that each got.

#76 Add library of queries
  servicex/query_library.py
  servicex/servicex_materialize_branches.py
Labels: enhancement, servicex

#82 Update AB-dev docs
  servicex/README.md
Labels: bug, documentation, servicex

#86 Adjust logging for relavent info
  servicex/servicex_materialize_branches.py
Labels: enhancement, servicex

#88 docs: Remove GitHub serviceX client install requirement
  servicex/README.md
Labels: documentation, servicex

#89 Adjust steps per file when we are dealing with a small file size.
  servicex/servicex_materialize_branches.py
Labels: bug, servicex

#91 Minor Updates
  .gitignore
  servicex/query_library.py
  servicex/servicex_materialize_branches.py
Labels: bug, performance, servicex

#98 Improve DASK Running Speeds
  servicex/servicex_materialize_branches.py
Labels: bug, servicex

#99 Retry's to fsspec
  requirements.txt
  servicex/fspec_retry.py
  servicex/servicex_materialize_branches.py
Labels: performance, servicex

#92 Run on multiple datasets
  servicex/datasets.py
  servicex/servicex_materialize_branches.py
Labels: enhancement, servicex

#111 Enable better testing
  servicex/datasets.py
  servicex/servicex_materialize_branches.py
Labels: performance, servicex

#113 Dump Rate Info during SX Run
  servicex/datasets.py
  servicex/servicex_materialize_branches.py
Labels: performance, servicex

#121 Supporting Multi-Dataset Run
  servicex/fspec_retry.py
  servicex/servicex_materialize_branches.py
Labels: enhancement, performance, servicex
